* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}

body {
  background: linear-gradient(135deg, #4b6cb7, #182848);
  padding: 20px;
  transition: 0.3s;
}

body.dark {
  background: #0d0f11;
}

.container {
  max-width: 1200px;
  margin: auto;
  color: white;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#themeToggle {
  background: rgba(255,255,255,0.2);
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 10px;
  font-size: 20px;
}

/* Cards */
.top-cards {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
}

.card {
  background: rgba(255,255,255,0.15);
  padding: 20px;
  border-radius: 15px;
  backdrop-filter: blur(10px);
  text-align: center;
}

.balance {
  background: rgba(0,255,0,0.15);
}

/* Form */
.form-section {
  background: rgba(255,255,255,0.12);
  padding: 20px;
  border-radius: 15px;
  margin-top: 25px;
}

.form-section input,
.form-section select,
.form-section button {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  border: none;
  border-radius: 10px;
}

.form-section button {
  background: #00e676;
  cursor: pointer;
  font-weight: bold;
}

/* Charts */
.charts {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 20px;
}

.chart-box {
  background: rgba(255,255,255,0.15);
  border-radius: 15px;
  padding: 20px;
}

/* Transactions */
.transactions {
  margin-top: 30px;
}

#list {
  list-style: none;
  margin-top: 10px;
}

#list li {
  background: rgba(0,0,0,0.2);
  padding: 12px;
  margin-bottom: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}

#exportCSV {
  background: #ffeb3b;
  color: black;
  font-weight: bold;
  width: 200px;
  margin-top: 20px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}